<app-header title="Data Table">
</app-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <div text-start>
        <ion-grid>
          <ion-row>
            <ion-col size-lg="3" size-xs="12">
              <ion-input class="searchBox" placeholder="Seach Data..." type="text" name="search" [(ngModel)]="filter">
              </ion-input>
            </ion-col>
            <ion-col size-lg="3" offset-lg="6" size-xs="3">
              <div text-end>
                <ion-button>
                  <angular2csv class="csvBtn" [data]="dataOfTable" filename="test.csv" [options]="options">
                  </angular2csv>
                </ion-button>
              </div>
            </ion-col>
          </ion-row>
        </ion-grid>
      </div>

    </ion-card-header>
    <ion-card-content mode="ios">
      <table style="width:100%">
        <tr>
          <th>TimeStamp</th>
          <th>Ph1_Voltage_Variation</th>
          <th>Ph2_Voltage_Variation</th>
          <th>Ph3_Voltage_Variation</th>
        </tr>

        <!-- table Data -->
        <tr class="tableRow"
          *ngFor="let item of dataOfTable | filter:filter | paginate: { itemsPerPage: 10, currentPage: p }; let i = index">
          <td>{{item.TimeStamp}}</td>
          <td>{{item.Ph1_Voltage_Variation}}</td>
          <td>{{item.Ph2_Voltage_Variation}}</td>
          <td>{{item.Ph3_Voltage_Variation}}</td>
        </tr>
        <!-- tableData end -->
      </table>
    </ion-card-content>
    <div text-center>
      <pagination-controls class="tablePagination" (pageChange)="p = $event" previousLabel="<" nextLabel=">">
      </pagination-controls>
    </div>

  </ion-card>
</ion-content>