<ion-header>
    <ion-toolbar>
        <ng-container>
            <ion-buttons slot="start">
                <ion-back-button></ion-back-button>
            </ion-buttons>
        </ng-container>
        <ion-menu-button slot="start"></ion-menu-button>
        <ion-title color="dark">Input Data</ion-title>
    </ion-toolbar>
</ion-header>   
<ion-content no-padding *ngIf="first">
    <ion-grid>
        <ion-row>
            <ion-col size-lg="4" size-xs="12">
                <ion-card mode="ios" style="min-height: 327px;">
                    <ion-card-header style="border-bottom: 1px solid #f2f2f2;">
                        <ion-card-title class="font-heading-bold" color="dark">Your Input</ion-card-title>
                    </ion-card-header>
                    <ion-card-content>
                        <ion-list>
                            <ion-item>
                                <ion-text class="font-heading-bold" color="dark">Machine:</ion-text>
                                <ion-text class="font-heading" color="medium" pad-10-left>{{machineName}}
                                </ion-text>
                            </ion-item>
                            <ion-item>
                                <ion-text class="font-heading-bold" color="dark">Group:</ion-text>
                                <ion-text class="font-heading" color="medium" pad-10-left>{{groupName}}
                                </ion-text>
                            </ion-item>
                            <ion-item>
                                <ion-text class="font-heading-bold" color="dark">Stat:</ion-text>
                                <ion-text class="font-heading" color="medium" pad-10-left>{{stat}}
                                </ion-text>
                            </ion-item>
                            <ion-item>
                                <ion-text class="font-heading-bold" color="dark">Threshold:</ion-text>
                                <ion-text class="font-heading" color="medium" pad-10-left>{{threshold}}
                                </ion-text>
                            </ion-item>
                        </ion-list>
                    </ion-card-content>
                </ion-card>
            </ion-col>

            <!-- working-now -->
            <ion-col size-lg="8" size-xs="12">
                <ion-card mode="ios" style="min-height: 275px;">
                    <ion-card-header style="border-bottom:1px solid #f2f2f2;margin-bottom: 20px;">
                        <ion-card-title class="font-heading-bold" color="dark">Your Input Time</ion-card-title>
                    </ion-card-header>
                    <ion-card-content>
                        <ion-row style="margin-bottom: 5px;">
                            <ion-col size="2" text-center padding>
                                <ion-label color="primary">

                                </ion-label>
                            </ion-col>
                            <ion-col size="4" text-center padding
                                style="border-bottom: 1px solid #f2f2f2;border-right: 1px solid #f2f2f2">
                                <ion-label><b>To</b></ion-label>
                            </ion-col>
                            <ion-col size="4" text-center padding style="border-bottom: 1px solid #f2f2f2">
                                <ion-label><b>Form</b></ion-label>
                            </ion-col>
                        </ion-row>
                        <ion-row style="margin-bottom: 5px;">
                            <ion-col size="2" text-center padding style="background: rgba(242, 242, 242, 0.30);">
                                <ion-label color="primary">
                                    UTC
                                </ion-label>
                            </ion-col>
                            <ion-col size="4" text-center padding style="border-bottom: 1px solid #f2f2f2">
                                <ion-label><b>{{toDateResult | date: 'M/d/yy, h:mm a' : 'UTC'}}</b></ion-label>
                            </ion-col>
                            <ion-col size="4" text-center padding style="border-bottom: 1px solid #f2f2f2">
                                <ion-label><b>{{formDateResult | date: 'M/d/yy, h:mm a' : 'UTC'}}</b></ion-label>
                            </ion-col>
                        </ion-row>
                        <ion-row style="margin-bottom: 5px;">
                            <ion-col size="2" text-center padding style="background: rgba(242, 242, 242, 0.30);">
                                <ion-label color="primary">
                                    IST
                                </ion-label>
                            </ion-col>
                            <ion-col size="4" text-center padding style="border-bottom: 1px solid #f2f2f2">
                                <ion-label><b>{{toDateResult | date: 'M/d/yy, h:mm a' : 'IST'}}</b></ion-label>
                            </ion-col>
                            <ion-col size="4" text-center padding style="border-bottom: 1px solid #f2f2f2">
                                <ion-label><b>{{formDateResult | date: 'M/d/yy, h:mm a' : 'IST'}}</b></ion-label>
                            </ion-col>
                        </ion-row>
                        <ion-row style="margin-bottom: 5px;">
                            <ion-col size="2" text-center padding style="background: rgba(242, 242, 242, 0.30);">
                                <ion-label color="primary">
                                    EST
                                </ion-label>
                            </ion-col>
                            <ion-col size="4" text-center padding style="border-bottom: 1px solid #f2f2f2">
                                <ion-label><b>{{toDateResult | date: 'M/d/yy, h:mm a' : 'EST'}}</b></ion-label>
                            </ion-col>
                            <ion-col size="4" text-center padding style="border-bottom: 1px solid #f2f2f2">
                                <ion-label><b>{{formDateResult | date: 'M/d/yy, h:mm a' : 'EST'}}</b></ion-label>
                            </ion-col>
                        </ion-row>
                    </ion-card-content>
                </ion-card>
            </ion-col>
            <!-- working-now -->
        </ion-row>
    </ion-grid>
    <p padding font-2-0em>*Please select the menu from sidemenu</p>
</ion-content>
<ion-content no-padding *ngIf="seccond">
    <ion-grid>
        <ion-row>
            <ion-col size-lg="4" size-xs="12">
                <ion-card mode="ios">
                    <ion-card-header style="border-bottom:1px solid #f2f2f2;">
                        <ion-card-title class="font-heading-bold" color="dark">Your Input</ion-card-title>
                    </ion-card-header>
                    <ion-card-content>
                        <ion-list>
                            <ion-item>
                                <ion-text class="font-heading-bold" color="dark">Machine:</ion-text>
                                <ion-text class="font-heading" color="medium" pad-10-left>{{machineName}}
                                </ion-text>
                            </ion-item>
                            <ion-item>
                                <ion-text class="font-heading-bold" color="dark">Group:</ion-text>
                                <ion-text class="font-heading" color="medium" pad-10-left>{{groupName}}
                                </ion-text>
                            </ion-item>
                            <ion-item>
                                <ion-text class="font-heading-bold" color="dark">Stat:</ion-text>
                                <ion-text class="font-heading" color="medium" pad-10-left>{{stat}}
                                </ion-text>
                            </ion-item>
                            <ion-item>
                                <ion-text class="font-heading-bold" color="dark">Threshold:</ion-text>
                                <ion-text class="font-heading" color="medium" pad-10-left>{{threshold}}
                                </ion-text>
                            </ion-item>
                        </ion-list>
                    </ion-card-content>
                </ion-card>
            </ion-col>

            <ion-col size-lg="8" size-xs="12">
                <ion-card mode="ios" style="min-height: 275px;">
                    <ion-card-header style="border-bottom:1px solid #f2f2f2;margin-bottom: 20px;">
                        <ion-card-title class="font-heading-bold" color="dark">Your Input Time</ion-card-title>
                    </ion-card-header>
                    <ion-card-content>
                        <ion-row style="margin-bottom: 5px;">
                            <ion-col size="2" text-center padding style="background: rgba(242, 242, 242, 0.30);">
                                <ion-label color="primary">
                                    UST
                                </ion-label>
                            </ion-col>
                            <ion-col size="6" text-center padding style="border-bottom: 1px solid #f2f2f2">
                                <ion-label><b>{{timedate | date: 'M/d/yy, h:mm a' : 'UTC'}}</b></ion-label>
                            </ion-col>
                        </ion-row>
                        <ion-row style="margin-bottom: 5px;">
                            <ion-col size="2" text-center padding style="background: rgba(242, 242, 242, 0.30);">
                                <ion-label color="primary">
                                    IST
                                </ion-label>
                            </ion-col>
                            <ion-col size="6" text-center padding style="border-bottom: 1px solid #f2f2f2">
                                <ion-label><b>{{timedate | date: 'M/d/yy, h:mm a' : 'IST'}}</b></ion-label>
                            </ion-col>
                        </ion-row>
                        <ion-row style="margin-bottom: 5px;">
                            <ion-col size="2" text-center padding style="background: rgba(242, 242, 242, 0.30);">
                                <ion-label color="primary">
                                    EST
                                </ion-label>
                            </ion-col>
                            <ion-col size="6" text-center padding style="border-bottom: 1px solid #f2f2f2">
                                <ion-label><b>{{timedate | date: 'M/d/yy, h:mm a' : 'EST'}}</b></ion-label>
                            </ion-col>
                        </ion-row>
                    </ion-card-content>
                </ion-card>
            </ion-col>
        </ion-row>
        <p padding font-2-0em>*Please select the menu from sidemenu</p>
    </ion-grid>

</ion-content>