ion-menu {
  ion-content {
    .menu_header {
      background: url("../../../assets/image/material-background.png") no-repeat;
      background-size: cover;
      padding: 30px;
      border-bottom: 4px solid var(--ion-color-warning);
      position: relative;
      color: var(--ion-color-light);

      img.profile_pic {
        height: 80px;
        width: 80px;
        border-radius: 50%;
        background-color: var(--ion-color-dark);
        margin-bottom: 8px;
        border: 2px solid var(--ion-color-danger);
      }
    }
    --background: linear-gradient(to bottom, var(--ion-color-secondary), #0c1469);
    ion-list {
      --ion-item-background: transparent;
    }
  }
  --width: 320px;
}

.split-pane-md.split-pane-visible>.split-pane-side {
  border-right: 0;
}

.editor_choice {
  color: var(--ion-color-warning);
  font-weight: bold;
  animation: textgrowth 1.1s infinite alternate;   
}
.notActivate{
  animation: none;
  font-weight: none;
  color: #f2f2f2;
}
.backGroundMenu{
  background: #0c176d52;
}

@keyframes textgrowth {
   0% {
  //  font-size: 12px;
   opacity: 0.3
   }
   100% {
  //  font-size: 18px;
   opacity: 1;
   }
}
