<!--<app-header title="Dashboard"></app-header>-->

<ion-split-pane contentId="menu-content" when="lg" [when]="!splitPaneHidden">
    <ion-menu contentId="menu-content" side="start">
        <ion-content no-margin no-padding>
            <div class="menu_header">
                <div text-center>
                    <img class="profile_pic" src="/assets/image/boy.svg"><br>
                    <span class="font-heading-bold">Tanmoy</span><br>
                    <span class="font-heading" font-0-8-em></span>
                </div>
                <ion-fab vertical="top" horizontal="end" *ngIf="!splitPaneHidden"
                    (click)="splitPaneHidden = !splitPaneHidden" shape="round">
                    <ion-fab-button size="small">
                        <ion-icon name="arrow-back" mode="ios"></ion-icon>
                    </ion-fab-button>
                </ion-fab>
                <ion-fab vertical="top" horizontal="end" *ngIf="splitPaneHidden"
                    (click)="splitPaneHidden = !splitPaneHidden" shape="round">
                    <ion-fab-button size="small">
                        <ion-icon name="arrow-forward" mode="ios"></ion-icon>
                    </ion-fab-button>
                </ion-fab>
            </div>

            <ion-list>
                <ng-container *ngFor="let item of pages let i = index">
                    <ion-menu-toggle [autoHide]="false">
                        <ion-item lines="full" detail routerDirection="root" [routerLink]="[item.url]"
                            routerLinkActive="item-active">
                            <ion-icon slot="start" [name]="item.icon" color="light"></ion-icon>
                            <ion-label color="light" class="regular-custom" font-0-8-em>{{item.title}}</ion-label>
                        </ion-item>
                    </ion-menu-toggle>
                </ng-container>
            </ion-list>
        </ion-content>
    </ion-menu>
    <ion-router-outlet id="menu-content"></ion-router-outlet>
</ion-split-pane>
