<app-header title="MediPQ:- Expert Power Quality Analyzer"></app-header>

<ion-content>

    <ion-grid>
        <form>
            <ion-row>
                <ion-col size="6">
                    <ion-card mode="ios" style="height: 550px;">
                        <ion-card-header>
                            <ion-card-title>Input</ion-card-title>
                        </ion-card-header>

                        <ion-card-content>
                            <ion-label>Company</ion-label>
                            <ion-item>
                                <ion-select mode="ios" interface="popover" placeholder="Select One">
                                    <ion-select-option value="f">Female</ion-select-option>
                                    <ion-select-option value="m">Male</ion-select-option>
                                </ion-select>
                            </ion-item>
                            <!-- =============== -->
                            <ion-label>Machine</ion-label>
                            <ion-item>
                                <ion-select mode="ios" interface="popover" placeholder="Select One">
                                    <ion-select-option value="f">Female</ion-select-option>
                                    <ion-select-option value="m">Male</ion-select-option>
                                </ion-select>
                            </ion-item>
                            <!-- =============== -->
                            <ion-label>Group</ion-label>
                            <ion-item>
                                <ion-select mode="ios" interface="popover" placeholder="Select One">
                                    <ion-select-option [value]="i+1" *ngFor="let item of group; let i = index">
                                        {{item.name}}</ion-select-option>
                                </ion-select>
                            </ion-item>
                            <!-- =============== -->
                            <ion-label>Stats</ion-label>
                            <ion-item>
                                <ion-select mode="ios" interface="popover" placeholder="Select One">
                                    <ion-select-option value="f">Female</ion-select-option>
                                    <ion-select-option value="m">Male</ion-select-option>
                                </ion-select>
                            </ion-item>
                            <!-- =============== -->
                            <ion-label>Threshold</ion-label>
                            <ion-item>
                                <ion-input type="number" mode="ios" min="0"></ion-input>
                            </ion-item>
                        </ion-card-content>
                    </ion-card>
                </ion-col>

                <!-- =============================================================== -->
                <ion-col size="6">
                    <ion-card mode="ios" style="height: 550px;">
                        <ion-card-header>
                            <ion-card-title>Customize Date Time ranges input</ion-card-title>
                        </ion-card-header>
                        <ion-card-content>
                            <ion-label>Quick Time Range</ion-label>
                            <ion-item>
                                <ion-select mode="ios" interface="popover" placeholder="Select One">
                                    <ion-select-option [value]="item" *ngFor="let item of timeRanges">{{item.name}}
                                    </ion-select-option>
                                </ion-select>
                            </ion-item>
                            <ion-label>MM DD YY</ion-label>
                            <ion-item>
                                <ion-datetime displayFormat="MM DD YY" placeholder="Start Date"></ion-datetime>
                            </ion-item>
                            <ion-label>Hours</ion-label>
                            <ion-item>
                                <ion-input type="number" mode="ios" min="0"></ion-input>
                            </ion-item>
                            <ion-label>Minutes(UTC)</ion-label>
                            <ion-item>
                                <ion-input type="number" mode="ios" min="0"></ion-input>
                            </ion-item>
                            <ion-label>MM DD YY</ion-label>
                            <ion-item>
                                <ion-datetime displayFormat="MM DD YY" placeholder="To Date"></ion-datetime>
                            </ion-item>
                            <ion-label>Hours</ion-label>
                            <ion-item>
                                <ion-input type="number" mode="ios" min="0"></ion-input>
                            </ion-item>
                            <ion-label>Minutes(UTC)</ion-label>
                            <ion-item>
                                <ion-input type="number" mode="ios" min="0"></ion-input>
                            </ion-item>
                        </ion-card-content>
                    </ion-card>
                </ion-col>
            </ion-row>
            <div text-center>
                <ion-button expand="block" size="large" (click)="submitForm()">Submit</ion-button>
            </div>
        </form>
    </ion-grid>
</ion-content>