.modalSection{
  display: none;
}
@keyframes textgrowth {
  0%   {top: 70%; opacity: 0}
  25%  {top: 61%; opacity: .8}
  50%  {top: 52%;}
  75%  {top: 48%;}
  100% {top: 45%;}
}
.custom_model {
  position: fixed;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  animation: textgrowth 500ms ease-in-out;
  .modalSection{
    display: block;
    box-shadow: 0 4px 16px rgba(0,0,0,.12);
  }

  section {
    width: 350px;
    height: 200px;
    background: #103a92ed;
    border-radius: 10px;
    

    &:after {
      content: "";
      position: absolute;
      top: 82%;
      left: -76px;
      margin-left: 50px;
      width: 0;
      height: 0;
      border-top: solid 71px #1f4698;
      border-left: solid 20px transparent;
      border-right: solid 20px transparent;
      -webkit-transform: rotate(60deg);
      transform: rotate(60deg);
    }
  }
}
