.notification-count {
  position: absolute;
  font-size: 0.7rem;
  top: 0;
  right: 14px;
  height: 20px;
  border-radius: 10px;
  background: #fff;
  border: 2px solid var(--ion-color-primary);
  color: var(--ion-color-dark);
  line-height: 19px;
  text-align: center;
  letter-spacing: 0;
  //font-weight: bold;
  padding: 0 5px;
  min-width: 20px;
}

ion-title {
  font-family: Exo, sans-serif;
}

ion-toolbar {
  --padding-start: 10px;
  --padding-end: 10px;
 // --border-bottom: red;
 --background: linear-gradient(to right, var(--ion-color-warning), #ff3d00);

  //border-bottom: 4px solid var(--ion-color-secondary);
}
